#banner-bg{
    background-image: url('https://i.ibb.co/TqBhwfZ/Rectangle-4281-overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 20;
    margin-top: -110px;
  }
